* {
    margin: 0 auto;
    padding: 0;
}
body {
    width: 1400px;
    height: 1626px;
    gap: 3px;
}
.menu_text {
    width: 635px;
    height: 88px;
    padding: 32px 0 32px 0;
    gap: 72px;
    display: flex;
    flex-direction: row;
}
.text {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}
.link {
    text-decoration: none;
    color: black;
}
main {
    width: 1400px;
    height: 1472px;
    gap: 0px;
    margin-bottom: 3px;
}
.container {
    width: 600px;
    height: 552px;
    padding: 92px 400px 92px 401px;
    gap: 0;
    background-color: #00BDC9;
}
.img {
    width: 599px;
    height: 368px;
    margin-top: 92px;
    left: 401px;
    gap: 0;
}
.content_div {
    width: 856px;
    height: 920px;
    padding: 88px 0 88px 0;
    gap: 0;
}
.main_head {
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
}
.text_div {
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    margin-top: 40px;
}
span {
    color: #00BDC9;
}
.main-list {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-top: 24px;
}

.Learn_more {
    width: 165px;
    height: 64px;
    padding: 10px 24px 10px 24px;
    gap: 0;
    margin-top: 40px;
    color: white;
    background-color: #04959E;
    text-align: center;
    margin-left: 340px;
    border: none;
}
.footer {
    width: 1400px;
    height: 60px;
    gap: 0;
}
.line {
    width: 1400px;
    height: 1px;
    gap: 0;
    color: black;
    margin-top: 98px;
    background-color: black;
    list-style: none;
    border: none;
}
.footer_text {
    width: 856px;
    height: 59px;
    padding: 16px 0 16px 0;
    justify-content: space-between;
    text-align: center;
}
